* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}
.main {
    padding: 0 180px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}

#header {
    height: 36px;
    background-color: #ffffff;
}
.navbar-nav li:hover {
    background-color: #f8f9fa; /* Change the background color on hover */
}

.navbar-nav li:hover a {
    color: #ffc107; /* Change the text color on hover */
}

.navbar-nav li:hover a.btn-warning {
    background-color: #fff707; /* Change the background color of the button on hover */
    color: #fff; /* Change the text color of the button on hover */
}
.navbar-nav li {
    display: inline-block;
    line-height: 36px;
}

.navbar-nav > li > a {
    text-transform: uppercase;
}

.navbar-nav li a {
    text-decoration: none;
}

a.nav-link {
    color: #57585e;
    font: 12px;
    padding: 8px;
}

a.nav-link.switch-lang {
    padding: 8px 20px 8px 8px;
}

a.btn-warning {
    color: #ffffff;
    background-color: #ffc107;
    margin: 0px 0px 0px 5px;
    padding: 6px 24px;
    border-radius: 30px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
}

#header .right-header nav.navbar {
    padding: 8px 0;
    justify-content: flex-end;
}

.row-1 {
    justify-content:space-between;
    padding: 0 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.left {
    margin-right: 10px; /* Adjust the margin as needed for spacing */
}

.logo img {
    max-width: 100%;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 8px 12px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.menu {
    text-align: center;
}

#nav {
    height: 96px;
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#nav .subnav {
    min-width: 260px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav > li {
    display: inline-block;
    position: relative;
}
.subnav li {
    padding: 0px 16px;
}
.subnav >li >a {
    line-height: 50px;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;

}
#nav > li > a {
    text-transform: uppercase;
    line-height: 96px;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

#nav > li:hover > a {
    color: #ffc107;
}

.subnav {
    display: none;
    position: absolute;
    top: 85px;
    left: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;

}

#nav > li:hover .subnav {
    display: block;
}
#nav{
    font-size: 19px;
}
.subnav li {
    display: block;
    text-align: left;
}
.subnav  > li:hover a { 
    display: block;
    background-color: rgb(0, 195, 255);
}
#nav .nav-ic {
    font-size: 16px;
}

.tuyendung{
    background-color: rgb(35,93,196);
    justify-content: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    color:#f8f9fa
}

.moinhat{
    color: blue;
    font-size: 25px;
    font-weight:bold;
}
.list-thongbao-item{
    display: flex;
}
.thongbao-text a{
    color: #333;
    font-size: 28px;
}
.thongbao-text p{
    color: grey;
    font-size: 16px;
}
.list-thongbao-item img{
    width: auto;
    height: 200px;
}
.right-news{
    display: flex;
}
.right-news a{
    color: #333;
    font-weight: bold;
}
.right-news p{
    color: grey;
    font-size: smaller;
}
.right-news img{
    width: 100px;
    height: 75px;
}

.tuyendung_content{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.tuyendung_content div{
    margin-top: 20px;
}
.left{
    width: 810px;
}
.right{
    width: 400px;
}
.right-news-text{
    margin-left: 15px;
}
.right-news div{
    margin-top: 0;
}
.chuyentrang{
    margin-left:400px;
}
.chuyentrang button{
    padding: 10px;
    background-color: transparent;
    border: none;
    color: rgb(46, 46, 236);
    font-size: 16px;
    border-radius: 10px;
}
.chuyentrang button:hover{
    cursor: pointer;
    background-color: rgb(221, 213, 213);
}
#chuyentrang-main{
    background-color: rgb(68, 68, 250);
    color: #f8f9fa;
    border-radius: 10px;
}

.contact{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.contact-call{
    background-color: rgb(1,183,250);
    color: #f8f9fa;
    width: 470px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    gap: 30px;
    padding-left: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.contact-mail{
    background-color: #165baa ;
    color: #f8f9fa;
    width: 470px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    gap: 30px;
    padding-left: 50px;
}
.contact-conv{
    background-color: rgb(241,171,1);
    color: #f8f9fa;
    width: 470px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    gap: 30px;
    padding-left: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.contact a{
    color: #f8f9fa;
    font-size: 25px;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0,55,122);
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 200px;
    margin-top: -70px;
}

.footer-first{
    width: 420px;
    line-height: 20px;
    color: #f8f9fa;
}
.footer-first p{
    margin-top: 10px;
}
#footer-PH{
    margin-top: 30px;
}
.theodoi p{
    color: rgb(114, 114, 233);
}
.theodoi-icon{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    font-size: 150%;
    opacity: 0.8;
}
.theodoi{
    margin-top: 30px;
}

.footer-second{
    width: 180px;
}
.footer-second p{
    color: #f8f9fa;
    font-weight: bold;
    margin-bottom: 50px;
}
.footer-second a{
    color: grey;
    display:list-item;
    list-style-type: none;
    line-height: 50px;
}

.footer-third{
    width: 250px;
}
.footer-third p{
    color: #f8f9fa;
    font-weight: bold;
    margin-bottom: 50px;
}
.footer-third a{
    color: grey;
    display:list-item;
    list-style-type: none;
    line-height: 50px;
}

.footer-fourth{
    width: 350px;
}
.footer-fourth p{
    color: #f8f9fa;
    margin-bottom: 10px;
}
.footer-fourth img{
    width: 350px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.footer-download{
    background-color: rgb(0,55,122);
    margin-top: -270px;
    margin-left: 550px;
}
.footer-download p{
    color: rgb(114, 114, 233);
}

#footer-sub{
    color: #f8f9fa;
    background-color: transparent;
    margin-top: 30px;
    padding-top: 20px;
    border-top: #f8f9fa 1px solid;
    opacity: 0.6;
}

.download-logo{
    color: #f8f9fa;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    opacity: 0.6;
}

.footer a:hover{
    color: #f8f9fa;
}
.logo-name:hover{
    cursor: pointer;
}